div#auth-form .form-title, div#auth-form a.process-status, div#auth-form input {
  position: relative;
  display: block;
}

@keyframes throw {
  0% {
    left: 0;
  }
  33% {
    left: -8px;
  }
  66% {
    left: 8px;
  }
  100% {
    left: 0;
  }
}

div#auth-form .form-title {
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

div#auth-form a.process-status {
  width: 100%;
  text-align: center;
  opacity: .5;
  margin-top: 10px;
}

div#auth-form input {
  width: 100%;
  height: 40px;
  border: 5px solid #eee;
  margin-top: 10px;
  text-align: center;
  transition: .1s ease all;
  color: #333;
}

div#auth-form input:focus {
  border-color: rgba(33, 108, 168, 0.3);
}

div#auth-form input[throw] {
  border-color: rgba(168, 33, 33, 0.3);
  animation: .32s ease throw;
}
