div.form .form-content, div.form .form-content .form-title, div.form .form-content a.process-status, div.form .form-content input {
  position: relative;
  display: block;
}

div.form {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

div.form .form-content {
  width: 100%;
  max-width: 260px;
  height: fit-content;
}

div.form .form-content .form-title {
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

div.form .form-content a.process-status {
  width: 100%;
  text-align: center;
  opacity: .5;
  margin-top: 10px;
}

div.form .form-content input {
  width: 100%;
  height: 40px;
  border: 5px solid #eee;
  margin-top: 10px;
  text-align: center;
  transition: .1s ease all;
  color: #333;
}

div.form .form-content input:focus {
  border-color: rgba(33, 108, 168, 0.3);
}
