#messages-root{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 10px;

    width: 360px;
    max-width: 100%;

    .message-node{
        position: relative;
        display: block;

        pointer-events: all;

        height: 0;
        background: rgba(0, 0, 0, .8);
        color: #eee;

        visibility: hidden;
        overflow: hidden;

        margin: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;

        left: 100%;
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);

        border-radius: 5px;
        cursor: pointer;

        max-width: 100%;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;

        text-align: right;

        &[warn="true"]{ background: rgb(160, 60, 60); }
        &[ready]:not(:first-child){ margin-top: 10px; }
        &[ready]{ -webkit-transition: .12s ease all; transition: .12s ease all; visibility: visible; }
        p{
            position: relative;
            display: block;
            line-height: 20px;

            padding: 10px;
            margin: 0;

            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}