#global {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
}

#global * {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

#elements-root {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

#messages-root {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  width: fit-content;
  height: fit-content;
}